<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <nav th:fragment="navBar" class="navbar navbar-expand-sm navbar-dark bg-dark text-light">
        <a class="navbar-brand" href="#" th:href="@{/}">My App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse w-50" id="myNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/list-category}">Category</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/list-authors}">Author</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/list-books}">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
        </div>
    </nav>
</body>
</html>